In [1]:
from dotenv import load_dotenv
import datetime
import sys
import pandas as pd
from BlsGov import BlsGov
from BlsGovGetSeriesDescription import BlsGovGetSeriesDescription

In [2]:
today = datetime.date.today()
year = today.year

bls = BlsGov()
#data = bls.get_data('CUSR0000SA0', str(today.year-19), str(today.year))

In [10]:
df = bls.get_data_as_pandas_df('CUSR0000SA0', str(today.year-19), str(today.year))
df.head()

   year period periodName latest    value footnotes
0  2023    M09  September   true  307.481      [{}]
1  2023    M08     August    NaN  306.269      [{}]
2  2023    M07       July    NaN  304.348      [{}]
3  2023    M06       June    NaN  303.841      [{}]
4  2023    M05        May    NaN  303.294      [{}]

In [13]:
bls_description = BlsGovGetSeriesDescription('CUSR0000SA0')
series_description = bls_description.get_series_description()
series_description

,series_id,area_code,item_code,seasonal,periodicity_code,base_code,base_period,series_title,footnote_codes,begin_year,begin_period,end_year,end_period
0,CUSR0000SA0,0000,SA0,S,R,S,1982-84=100,"All items in U.S. city average, all urban cons...",NaN,1947,M01,2023,M09