In [1]:
from dotenv import load_dotenv
import datetime
import sys
import pandas as pd
from bls_gov.BlsGov import BlsGov
from bls_gov.BlsGovGetSeriesDescription import BlsGovGetSeriesDescription

In [2]:
today = datetime.date.today()
year = today.year

# Price Indexes

## CPI for All Urban Consumers (CPI-U)

In [3]:
bls_description = BlsGovGetSeriesDescription('CUUR0000SA0')

In [4]:
bls_description.get_series_title()

'All items in U.S. city average, all urban consumers, not seasonally adjusted'

In [5]:
bls_description.get_series_description()

,series_id,area_code,item_code,seasonal,periodicity_code,base_code,base_period,series_title,footnote_codes,begin_year,begin_period,end_year,end_period
323,CUUR0000SA0,0000,SA0,U,R,S,1982-84=100,"All items in U.S. city average, all urban cons...",NaN,1913,M01,2023,M09

## PPI Final Demand (Unadjusted)

In [6]:
bls_description = BlsGovGetSeriesDescription('WPUFD4')

In [7]:
bls_description.get_series_title()

'PPI Commodity data for Final demand, not seasonally adjusted'

In [8]:
bls_description.get_series_description()

,series_id,group_code,item_code,seasonal,base_date,series_title,footnote_codes,begin_year,begin_period,end_year,end_period
4973,WPUFD4,FD,4,U,200911,"PPI Commodity data for Final demand, not seaso...",NaN,2009,M11,2023,M09

In [9]:
bls_description = BlsGovGetSeriesDescription('WPUFD49104')

In [10]:
bls_description.get_series_title()

'PPI Commodity data for Final demand less foods and energy, not seasonally adjusted'

In [11]:
bls_description.get_series_description()

,series_id,group_code,item_code,seasonal,base_date,series_title,footnote_codes,begin_year,begin_period,end_year,end_period
5031,WPUFD49104,FD,49104,U,201004,PPI Commodity data for Final demand less foods...,NaN,2010,M04,2023,M09

In [12]:
bls_description = BlsGovGetSeriesDescription('WPUFD49116')

In [13]:
bls_description.get_series_title()

'PPI Commodity data for Final demand less foods, energy, and trade services, not seasonally adjusted'

In [14]:
bls_description.get_series_description()

,series_id,group_code,item_code,seasonal,base_date,series_title,footnote_codes,begin_year,begin_period,end_year,end_period
5042,WPUFD49116,FD,49116,U,201308,PPI Commodity data for Final demand less foods...,NaN,2013,M08,2023,M09

In [15]:
bls_description = BlsGovGetSeriesDescription('WPUFD49207')

In [16]:
bls_description.get_series_title()

'PPI Commodity data for Final demand-Finished goods, not seasonally adjusted'

In [17]:
bls_description.get_series_description()

,series_id,group_code,item_code,seasonal,base_date,series_title,footnote_codes,begin_year,begin_period,end_year,end_period
5052,WPUFD49207,FD,49207,U,198200,PPI Commodity data for Final demand-Finished g...,NaN,1947,M01,2023,M09

## Producer Price Index Oil

In [43]:
bls_description = BlsGovGetSeriesDescription('PCU333132333132')
bls_description.get_link_to_timeseries_viewer()

'https://beta.bls.gov/dataViewer/view/timeseries/PCU333132333132'

In [44]:
bls_description.get_series_title()

'PPI industry data for Oil and gas field machinery and equipment mfg, not seasonally adjusted'

In [45]:
bls_description.get_series_description()

,series_id,industry_code,product_code,seasonal,base_date,series_title,footnote_codes,begin_year,begin_period,end_year,end_period
2456,PCU333132333132,333132,333132,U,198012,PPI industry data for Oil and gas field machin...,NaN,1965,M01,2023,M09

In [50]:
bls_description = BlsGovGetSeriesDescription('WPU114119153')
bls_description.get_link_to_timeseries_viewer()

'https://beta.bls.gov/dataViewer/view/timeseries/WPU114119153'

In [51]:
bls_description.get_series_title()

'PPI Commodity data for Machinery and equipment-Oil-well and oil-field pumps, not seasonally adjusted'

In [52]:
bls_description.get_series_description()

,series_id,group_code,item_code,seasonal,base_date,series_title,footnote_codes,begin_year,begin_period,end_year,end_period
3286,WPU114119153,11,4119153,U,200912,PPI Commodity data for Machinery and equipment...,NaN,2009,M12,2023,M09

In [53]:
bls_description = BlsGovGetSeriesDescription('PCU21311121311105')
bls_description.get_link_to_timeseries_viewer()

'https://beta.bls.gov/dataViewer/view/timeseries/PCU21311121311105'

In [54]:
bls_description.get_series_title()

'PPI industry data for Drilling oil and gas wells-Reworking oil and gas wells, not seasonally adjusted'

In [55]:
bls_description.get_series_description()

,series_id,industry_code,product_code,seasonal,base_date,series_title,footnote_codes,begin_year,begin_period,end_year,end_period
98,PCU21311121311105,213111,21311105,U,199212,PPI industry data for Drilling oil and gas wel...,NaN,1992,M12,2023,M09

In [56]:
bls_description = BlsGovGetSeriesDescription('PCU333914333914113')
bls_description.get_link_to_timeseries_viewer()

'https://beta.bls.gov/dataViewer/view/timeseries/PCU333914333914113'

In [57]:
bls_description.get_series_title()

'PPI industry data for Measuring, dispensing, and other pumping equipment mfg-Oil-well and oil-field pumps, except boiler feed, not seasonally adjusted'

In [58]:
bls_description.get_series_description()

,series_id,industry_code,product_code,seasonal,base_date,series_title,footnote_codes,begin_year,begin_period,end_year,end_period
2675,PCU333914333914113,333914,333914113,U,200912,"PPI industry data for Measuring, dispensing, a...",NaN,2009,M12,2023,M09

In [59]:
bls_description = BlsGovGetSeriesDescription('PCU2111--2111--')
bls_description.get_link_to_timeseries_viewer()

'https://beta.bls.gov/dataViewer/view/timeseries/PCU2111--2111--'

In [60]:
bls_description.get_series_title()

'PPI industry group data for Oil and gas extraction, not seasonally adjusted'

In [61]:
bls_description.get_series_description()

,series_id,industry_code,product_code,seasonal,base_date,series_title,footnote_codes,begin_year,begin_period,end_year,end_period
7,PCU2111--2111--,2111--,2111--,U,198512,PPI industry group data for Oil and gas extrac...,NaN,1985,M12,2023,M09

In [62]:
bls_description = BlsGovGetSeriesDescription('PCU2111--2111--')
bls_description.get_link_to_timeseries_viewer()

'https://beta.bls.gov/dataViewer/view/timeseries/PCU2111--2111--'

In [63]:
bls_description.get_series_title()

'PPI industry group data for Oil and gas extraction, not seasonally adjusted'

In [64]:
bls_description.get_series_description()

,series_id,industry_code,product_code,seasonal,base_date,series_title,footnote_codes,begin_year,begin_period,end_year,end_period
7,PCU2111--2111--,2111--,2111--,U,198512,PPI industry group data for Oil and gas extrac...,NaN,1985,M12,2023,M09

In [65]:
bls_description = BlsGovGetSeriesDescription('PCU211---211---')
bls_description.get_link_to_timeseries_viewer()

'https://beta.bls.gov/dataViewer/view/timeseries/PCU211---211---'

In [67]:
bls_description.get_series_title()

'PPI industry sub-sector data for Oil and gas extraction, not seasonally adjusted'

In [66]:
bls_description.get_series_description()

,series_id,industry_code,product_code,seasonal,base_date,series_title,footnote_codes,begin_year,begin_period,end_year,end_period
6,PCU211---211---,211---,211---,U,198512,PPI industry sub-sector data for Oil and gas e...,NaN,1985,M12,2023,M09

In [68]:
bls_description = BlsGovGetSeriesDescription('PCU212---212---')
bls_description.get_link_to_timeseries_viewer()

'https://beta.bls.gov/dataViewer/view/timeseries/PCU212---212---'

In [69]:
bls_description.get_series_title()

'PPI industry sub-sector data for Mining (except oil & gas), not seasonally adjusted'

In [70]:
bls_description.get_series_description()

,series_id,industry_code,product_code,seasonal,base_date,series_title,footnote_codes,begin_year,begin_period,end_year,end_period
20,PCU212---212---,212---,212---,U,200312,PPI industry sub-sector data for Mining (excep...,NaN,2003,M12,2023,M09

## Costumer Price Index Fuel oil

In [47]:
bls_description = BlsGovGetSeriesDescription('APU000072511')
bls_description.get_link_to_timeseries_viewer()

'https://beta.bls.gov/dataViewer/view/timeseries/APU000072511'

In [48]:
bls_description.get_series_title()

'Fuel oil #2 per gallon (3.785 liters) in U.S. city average, average price, not seasonally adjusted'

In [49]:
bls_description.get_series_description()

,series_id,area_code,item_code,series_title,footnote_codes,begin_year,begin_period,end_year,end_period
133,APU000072511,0000,72511,Fuel oil #2 per gallon (3.785 liters) in U.S. ...,NaN,1978,M11,2023,M09

## Imports

In [18]:
bls_description = BlsGovGetSeriesDescription('EIUIR')

In [19]:
bls_description.get_series_title()

'Monthly import price index for BEA End Use, All commodities, not seasonally adjusted'

In [20]:
bls_description.get_series_description()

,series_id,seasonal,index_code,series_name,base_period,series_title,footnote_codes,begin_year,begin_period,end_year,end_period
584,EIUIR,U,IR,All commodities,2000=100,"Monthly import price index for BEA End Use, Al...",NaN,1982,M09,2023,M09

## Exports

In [21]:
bls_description = BlsGovGetSeriesDescription('EIUIQ')

In [22]:
bls_description.get_series_title()

'Monthly export price index for BEA End Use, All commodities, not seasonally adjusted'

In [23]:
bls_description.get_series_description()

,series_id,seasonal,index_code,series_name,base_period,series_title,footnote_codes,begin_year,begin_period,end_year,end_period
478,EIUIQ,U,IQ,All commodities,2000=100,"Monthly export price index for BEA End Use, Al...",NaN,1983,M09,2023,M09

# Compensation

In [24]:
bls_description = BlsGovGetSeriesDescription('CIU1010000000000I')

In [25]:
bls_description.get_series_title()

'Total compensation for All Civilian workers in All industries and occupations, Index'

In [26]:
bls_description.get_series_description()

,series_id,seasonal,owner_code,industry_code,occupation_code,subcell_code,area_code,periodicity_code,estimate_code,series_title,footnote_codes,begin_year,begin_period,end_year,end_period
301,CIU1010000000000I,U,1,000000,000000,0,99999,I,1,Total compensation for All Civilian workers in...,"B,C",2001,Q01,2023,Q03

In [27]:
bls_description = BlsGovGetSeriesDescription('CIU2020000000000I')

In [28]:
bls_description.get_series_title()

'Wages and salaries for Private industry workers in All industries and occupations, Index'

In [29]:
bls_description.get_series_description()

,series_id,seasonal,owner_code,industry_code,occupation_code,subcell_code,area_code,periodicity_code,estimate_code,series_title,footnote_codes,begin_year,begin_period,end_year,end_period
1435,CIU2020000000000I,U,2,000000,000000,0,99999,I,2,Wages and salaries for Private industry worker...,NaN,2001,Q01,2023,Q03

# Employment

In [30]:
bls_description = BlsGovGetSeriesDescription('LNU01000000')

In [31]:
bls_description.get_series_title()

'(Unadj) Civilian Labor Force Level'

In [32]:
bls_description.get_series_description()

,series_id,lfst_code,periodicity_code,series_title,absn_code,activity_code,ages_code,cert_code,class_code,duration_code,...,wkst_code,born_code,chld_code,disa_code,seasonal,footnote_codes,begin_year,begin_period,end_year,end_period
3487,LNU01000000,10,M,(Unadj) Civilian Labor Force Level,0,0,0,0,0,0,...,0,0,0,0,U,NaN,1947,M13,2023,M10

In [37]:
bls_description = BlsGovGetSeriesDescription('LNU02000000')
bls_description.get_link_to_timeseries_viewer()

'https://beta.bls.gov/dataViewer/view/timeseries/LNU02000000'

In [34]:
bls_description.get_series_title()

'(Unadj) Employment Level'

In [35]:
bls_description.get_series_description()

,series_id,lfst_code,periodicity_code,series_title,absn_code,activity_code,ages_code,cert_code,class_code,duration_code,...,wkst_code,born_code,chld_code,disa_code,seasonal,footnote_codes,begin_year,begin_period,end_year,end_period
8253,LNU02000000,20,M,(Unadj) Employment Level,0,0,0,0,0,0,...,0,0,0,0,U,NaN,1947,M13,2023,M10

In [38]:
bls_description = BlsGovGetSeriesDescription('LNU03000000')
bls_description.get_link_to_timeseries_viewer()

'https://beta.bls.gov/dataViewer/view/timeseries/LNU03000000'

In [39]:
bls_description.get_series_title()

'(Unadj) Unemployment Level'

In [40]:
bls_description.get_series_description()

,series_id,lfst_code,periodicity_code,series_title,absn_code,activity_code,ages_code,cert_code,class_code,duration_code,...,wkst_code,born_code,chld_code,disa_code,seasonal,footnote_codes,begin_year,begin_period,end_year,end_period
40593,LNU03000000,30,M,(Unadj) Unemployment Level,0,0,0,0,0,0,...,0,0,0,0,U,NaN,1947,M13,2023,M10